# Admin Credentials
VITE_ADMIN_USER=admin
VITE_ADMIN_PASS=admin
VITE_LEOMAR_USER=leomar
VITE_LEOMAR_PASS=leomar123
VITE_PEDRO_USER=pedro
VITE_PEDRO_PASS=pedro123

# Database Configuration (MySQL Hostinger)
# Preencha estas variáveis no painel do Google AI Studio para conectar ao seu banco remoto
DB_HOST=
DB_PORT=3306
DB_USER=
DB_PASSWORD=
DB_NAME=
