# Configurações do Servidor
PORT=3000
NODE_ENV=production

# Configurações do Banco de Dados MySQL (Hostinger)
DB_HOST=mysql.hostinger.com.br
DB_USER=u439977431_Hilquias
DB_NAME=u439977431_HilquiasBanco
DB_PASSWORD=
DB_PORT=3306
